* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fcf7f6;
}

.content {
    width: 100%;
    padding: 1rem;
    background-color: #fff;
    height: 100%;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 0 auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
    }

.content h1 {
    margin: 0;
}

